# Project 5 Part 1

## Joseph Naro and Thankam Abish

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import clear_output
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

# Part 1.1

In [2]:
m_cols = ['movieId', 'title', 'release_date', 'video_release_date', 'imdb_url','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
movies_df = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, encoding='latin-1')
movies_df.drop(columns=['title', 'video_release_date', 'imdb_url', 'release_date'], inplace=True)
movies_df.set_index('movieId', inplace=True)
movies_df

,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1680,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1681,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1682,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

### Because the movie categories are one hot encoded, the means below represent the ratio of movies that fit into each category. One thing to notice is that comedies and dramas make up a large chunk of the dataset, but we can't tell how much overlap they have based on just the info below.

In [3]:
movies_df.describe()

,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.00000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000
mean,0.001189,0.149227,0.080262,0.024970,0.072533,0.300238,0.064804,0.029727,0.431034,0.01308,0.014269,0.054697,0.033294,0.036266,0.146849,0.060048,0.149227,0.042212,0.016052
std,0.034473,0.356418,0.271779,0.156081,0.259445,0.458498,0.246253,0.169882,0.495368,0.11365,0.118632,0.227455,0.179456,0.187008,0.354061,0.237646,0.356418,0.201131,0.125714
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
movies_key = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, encoding='latin-1', usecols=['movieId', 'title'])
movies_key

      movieId                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [5]:
users_key= pd.read_csv('ml-100k/u.data', delimiter='\t', names=['userId', 'movieId', 'rating', 'timestamp'], usecols=['userId'])
users_key.sort_values('userId', inplace=True)
users_key.drop_duplicates(inplace=True)
users_key.reset_index(drop=True, inplace=True)
users_key

     userId
0         1
1         2
2         3
3         4
4         5
..      ...
938     939
939     940
940     941
941     942
942     943

[943 rows x 1 columns]

In [6]:
ratings_df = pd.read_csv('ml-100k/u.data', delimiter='\t', names=['userId', 'movieId', 'rating', 'timestamp'])
ratings_df.drop('timestamp', axis=1, inplace=True)
ratings_df.sort_values('userId', inplace=True)
ratings_df.reset_index(drop=True, inplace=True)
ratings_df

       userId  movieId  rating
0           1       55       5
1           1      203       4
2           1      183       5
3           1      150       5
4           1       68       4
...       ...      ...     ...
99995     943      427       4
99996     943       12       5
99997     943      284       2
99998     943       62       3
99999     943      210       4

[100000 rows x 3 columns]

In [7]:
chosen_user = 3

In [8]:
user_profiles = ratings_df.pivot(index='movieId', columns='userId', values='rating').fillna(0)
user_profiles = user_profiles.transpose()
user_profiles

movieId,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userId,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### The description of the data below is largely useless, because the zeros representing unwatched videos are mixed in with the actual reviews.

In [9]:
user_profiles.describe()

movieId,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
count,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,...,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000
mean,1.858961,0.445387,0.289502,0.786850,0.301166,0.098621,1.579003,0.927890,1.235419,0.361612,...,0.003181,0.004242,0.003181,0.002121,0.003181,0.001060,0.003181,0.002121,0.003181,0.003181
std,2.042084,1.166107,0.966513,1.543481,0.992792,0.623179,1.977008,1.755518,1.906447,1.162804,...,0.097693,0.130258,0.097693,0.065129,0.097693,0.032564,0.097693,0.065129,0.097693,0.097693
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,3.000000,4.000000,3.000000,2.000000,3.000000,1.000000,3.000000,2.000000,3.000000,3.000000

# Parts 1.2 and 1.5 are integrated into Parts 1.3 and 1.4 below for more convenient reading.

### For this part, we will be finding the nearest and the farthest users.

In [10]:
user_neighbors = NearestNeighbors()
user_neighbors.fit(user_profiles)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

## Because the possible values users can have for each movie are the integers from 0 to 5 with 0 being unseen movies and 1 being the lowest rating a user can give a movie, we can reasonably assume that the farther a user's profile is from a completely blank profile, the more they are using the service and the happier they are with the movies they watch. These seem like our ideal satisfied customers, and we want new people to be this satisfied as well. As such, we will go through the profiles of the 5 users who are the furthest from the origin and recommend two of each of their top rated movies.

In [11]:
user_ratings = ratings_df.loc[ratings_df['userId'] == chosen_user]
user_ratings.sort_values('rating', inplace=True, ascending=False)
user_ratings.reset_index(drop=True, inplace=True)

C:\Users\joeyn\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
similar_users = user_neighbors.kneighbors([np.zeros(len(user_profiles.columns))], len(user_profiles) - 5, return_distance=False)

optimal_users = [user for user in users_key.index if user not in similar_users]
optimal_users

real_users = []
for user in optimal_users:
    real_users.append(users_key.loc[user, 'userId'])
recs = []
for user in real_users:
    user_id = users_key.loc[user, 'userId']
    
    close_user_ratings = ratings_df.loc[ratings_df['userId'] == user]
    close_user_ratings.sort_values('rating', inplace=True, ascending=False)
    close_user_ratings.reset_index(drop=True, inplace=True)
    
    index = 0
    user_favs = 0
    while index < len(close_user_ratings) and user_favs < 2 and close_user_ratings.loc[index, 'rating'] > 3:
        if close_user_ratings.loc[index, 'movieId'] not in recs and close_user_ratings.loc[index, 'movieId'] not in user_ratings['movieId']:
            recs.append(close_user_ratings.loc[index, 'movieId'])
            user_favs += 1
        index += 1
            
recs

C:\Users\joeyn\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[226, 661, 154, 502, 198, 302, 588, 603, 1153, 193]

In [13]:
for movie in recs:
    print(movies_key.loc[movie, 'title'])

Star Trek VI: The Undiscovered Country (1991)
Somewhere in Time (1980)
Dirty Dancing (1987)
Candidate, The (1972)
Bridge on the River Kwai, The (1957)
Ulee's Gold (1997)
Wild Bunch, The (1969)
It Happened One Night (1934)
Alphaville (1965)
Sting, The (1973)

### Here we have it, a list of 10 favorites amongst 5 of the most active users. This should be a good place for new users to start. It's also easy to find more recommendations simply by increasing the amount of top users to draw from or by increasing the amount of recommendations to get from each top user.

# Part 1.4

### We've used content-based and collaborative recommendations.

## Collaborative

### It is reasonable to assume that similar users will give the same movies similar ratings. Therefore, if we find which users are the most like the user in question, we can find the movies they rated the highest and recommend them to the user with the understanding that the user is likely to give those movies the same ratings.

In [14]:
user_profiles.loc[chosen_user]

movieId
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
1678    0.0
1679    0.0
1680    0.0
1681    0.0
1682    0.0
Name: 3, Length: 1682, dtype: float64

### For this, we're just using the 3 most similar users to get 3 recommendations each. We could easily be expanded to more users, which would increase the amount of recommendations we could give.

In [15]:
similar_users = user_neighbors.kneighbors([user_profiles.loc[chosen_user]], 4, return_distance=False)
real_users = []
for user in similar_users[0]:
    real_users.append(users_key.loc[user, 'userId'])
real_users.remove(chosen_user)
recs = []
for user in real_users:
    user_id = users_key.loc[user, 'userId']
    
    close_user_ratings = ratings_df.loc[ratings_df['userId'] == user]
    close_user_ratings.sort_values('rating', inplace=True, ascending=False)
    close_user_ratings.reset_index(drop=True, inplace=True)
    close_user_ratings
    
    index = 0
    user_favs = 0
    while index < len(close_user_ratings) and user_favs < 3 and close_user_ratings.loc[index, 'rating'] > 3:
        if close_user_ratings.loc[index, 'movieId'] not in recs and close_user_ratings.loc[index, 'movieId'] not in user_ratings['movieId']:
            recs.append(close_user_ratings.loc[index, 'movieId'])
            user_favs += 1
        index += 1
            
recs

C:\Users\joeyn\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

[350, 748, 264, 896, 347, 303, 902, 340, 307]

In [16]:
for movie in recs:
    print(movies_key.loc[movie, 'title'])

Prophecy II, The (1998)
MatchMaker, The (1997)
Hunt for Red October, The (1990)
Time Tracers (1995)
Desperate Measures (1998)
Fly Away Home (1996)
Afterglow (1997)
Critical Care (1997)
FairyTale: A True Story (1997)

## Content-based

### The idea here is that if a user rated a movie highly, then the user can be expected to give a similar rating to similar movies. As such, we recommend similar movies.

### We are now looking at movie similarities.

In [17]:
movie_neighbors = NearestNeighbors()
movie_neighbors.fit(movies_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

### We start by taking 3 of the users top rated movies. For each movie, we then find the 3 most similar unrecommended movies.

In [18]:
recs = []
for row in range(3):
    print(movies_key.loc[movies_key['movieId'] == user_ratings.loc[row, 'movieId'], 'title'])
    matches = np.squeeze(movie_neighbors.kneighbors([movies_df.loc[user_ratings.loc[row, 'movieId']]], 5+(5*row), return_distance=False))
    count = 0
    i = 0
    while count < 3 and i < len(matches):
        if matches[i] not in recs and movies_key.loc[matches[i], 'movieId'] not in user_ratings['movieId'].to_numpy():
            recs.append(matches[i])
            count += 1
        i += 1
recs

327    Conspiracy Theory (1997)
Name: title, dtype: object
339    Boogie Nights (1997)
Name: title, dtype: object
320    Mother (1996)
Name: title, dtype: object

[567, 747, 750, 1681, 29, 14, 66, 153, 104]

### Below are our recommendations. Some of the similarities are harder to see, depending on how familiar you are with the movies, but the movies have clear similarities to the ones the recommendations were based on (listed above).

In [19]:
for movie in recs:
    print(movies_key.loc[movie, 'title'])

Speed (1994)
Saint, The (1997)
Tomorrow Never Dies (1997)
Scream of Stone (Schrei aus Stein) (1991)
Belle de jour (1967)
Mr. Holland's Opus (1995)
Ace Ventura: Pet Detective (1994)
Monty Python's Life of Brian (1979)
Sgt. Bilko (1996)